/*    COLOURS
Spar Red: #EC1B24
Spar Green: #157946
Lime: #BCED09
Sunglow: #F9CB40
Byzenite blue: #2F52E0
*/

/* GENERAL THINGS */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-top: 35px;
}

h3 {
    margin: 5px;
}
h4 {
    margin: 5px;
}
h5 {
    margin: 5px;
}

#main_view {
    margin: auto;
    margin-top: 50px;
}

.green-bg {
    background-color: #157946;
}
.red-bg {
    background-color: #EC1B24;
}

/* NAV BAR */
.top-bar {
    z-index: 10;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #157946;
    height: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.top-bar nav span {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.top-bar nav a {
    color: white;
    text-decoration: none;
}
.breadcrumb {
    padding: 6px !important;
    margin: -5px;
    cursor: pointer;
}
.breadcrumb:hover {
    background-color: #006431;
}
#user_name {
    cursor: pointer;
}
#user_name:hover {
    background-color: #006431;
}
#user_menu {
    z-index: 9;
    display: none;
    position: fixed;
    top: 33px;
    right: 0px;
    color: white;
    background-color: #157946;
}
#user_menu li {
    list-style-type: none;
    padding: 5px;
}
#user_menu li:hover {
    background-color: #006431;
}
#user_menu:focus {
    outline: none;
}


/* MESSAGE */

#message_container {
    z-index: 999;
    width: fit-content;
    position: fixed;
    top: 5px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
}

.message {
    z-index: 999;
    display: block;
    margin-bottom: 5px;
    opacity: 0;
    width: fit-content;
    /*height: 43px;*/
    text-align: center;
    color: black;
    /*padding: 10px;*/
    padding-left: 8px;
    border-radius: 10px;
    /*background-color: #2980b9;*/
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}
.message-button {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    margin-left: 10px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #EC1B24;
    width: 29;
    font-size: large;
}

/* POPUP WINDOW */
.popup-container {
    z-index: 99;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.142);

}
.popup-container div {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: fit-content;
    margin: auto;
    margin-top: 25%;
    padding: 15px;
}


/* Used by login page */
.login-form {
    width: 400px;
    margin: auto;
}




/* TEXT INPUTS */


/* Removes yellow background on text inputs */
input:autofill {
    background: #fff;
}

.text-input-label {
    font-size: smaller;
    margin: 5px;
}

.text-input {
    width: 350px;
    font-size: medium;
    border: 1px;
    border-color: #157946;
    border-radius: 8px;
    padding: 6px;
    margin: 5px;
    border-style: solid;
}
.text-input:focus {
    outline: none;
    box-shadow: 0px 0px 5px #157946;
}




/* COMPONENT SELECTOR */
.component-selector {
    background-color: inherit;
    color: white;
    border: none;
    font-size: inherit;
    margin: -5;
}

/* BUTTONS */

.button {
    cursor: pointer;
    width: 350px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 5px;    
}

.button-green {
    cursor: pointer;
    width: 350px;
    font-size: 20px;
    background-color: #157946;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 5px;
}

.close-button {
    cursor: pointer;
    display: block;
    background-color: #EC1B24;
    border: none;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    font-size: inherit;
}




/*  BLOCKTOETS TABLE */
.bt-table {
    margin: auto;
    border-collapse: collapse;
    /* font-size: 0.9em;
    font-family: sans-serif; */
    min-width: 400px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}
.bt-table thead tr {
    /* background-color: #157946; */
    color: #000000;
    text-align: left;
    border-bottom: solid 3px #157946;
}
.bt-table th,
.bt-table td {
    padding: 12px 15px;
}
.bt-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* .bt-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.bt-table tbody tr:last-of-type {
    border-bottom: 2px solid #157946;
}
.bt-table tbody tr:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    color: #006431;
}
.recipe-ingredient-row td {
    padding: 5px 15px;
}



/*  ADD WINDOW  */
.add-window-container {
    position: fixed;
    z-index: 98;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.add-window {
    margin: auto;
    overflow: auto;
    margin-top: 40px;
    width: 360px;
    max-height: 90%;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}



/* Recipe totals */
.recipe-totals{
    margin-right: 35%;
    text-align: right;
}